

.Cards {
  width: 100%;
  margin: 0 auto;
  display: block;
  .Card {
    width: 100%;
    display: flex;
    padding-top: 5px;
    gap: 20px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 5px;

    @media screen and (max-width:619px) {
      display: block;

      .Image {
        margin: 0 auto;
        max-width: 100% !important;
        padding-bottom: 50%;
      }
    }

    .Image {
      width: 300px;
      position: relative;
      border-radius: 5px;

    }

    .Info {
      h3 {
        color: var(--Dark-Color, #21243d);
        font-family: 'PT Sans', sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      div {
        width: 72px;
        padding: 3px;
        /* height: 28px; */
        background-color: #21243c;
        border-radius: 10px;
        text-align: center;
        align-items: center;
        color: #fff;
        font-size: 16px;
      }

      p {
        color: var(--Dark-Color, #21243D);
        font-family: 'PT Sans', sans-serif;

        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        max-width: 500px;
        @media screen and (max-width:426px) {
         
          
              font-size: 13px !important;
          
       }
      }
    }
  }
}