
.nav {
    margin: 0 auto;
    justify-content: space-between;
    display: flex;

    font-family: 'Lobster', cursive;
.home{
    a{
        display: none;
    }
  
   
}
.homeAcc{
    a{
        display: block !important;
        font-size: 26px;
        color: #000 !important;
        font-family: 'Lobster', cursive;
        text-decoration: none;
        align-items: center;
        
    }
}
    ul {
        display: flex;
        text-align: right;
        gap: 0px 20px;
        justify-content: right;
        
        li {
            list-style-type: none;

            a {
                text-decoration: none;
                color: #000;
                font-size: 25px;
            }
        }
    }
}