@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
.Cards{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    gap: 1%;
    row-gap: 10px;
    @media screen and (max-width:951px) {
       display: grid;
       grid-template-columns: 50% 50%;
        .Card{
            max-width: 100% !important;
        }
    }
    @media screen and (max-width:649px) {
        display: grid;
        grid-template-columns: 100%;
    }
}
.Card {
    max-width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;

    gap: 20px;
 @media screen and (max-width:426px) {
    h2{
        font-size: 20px !important;
    }
    p{
        font-size: 13px !important;
    }
 }
    h2 {
        color: var(--Dark-Color, #21243D);

        font-size: 26px;
        font-weight: 400;
        font-family: "Roboto", sans-serif;
    }

    p {
        color: var(--Dark-Color, #21243D);
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}