@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");

@font-face {
    font-family: Pacifico;
    src: url(/fonts/Pacifico-Regular.ttf);
}
.body {
    margin: 0 auto;
    font-family: "Lobster", cursive;
    
}
.Contend {
    max-width: 1200px;
padding: 20px;
}