.footer{
    margin: 0 auto; 
    text-align: center;
    justify-content: center;
    padding: 100px;
    ul{
        display: flex;
        gap: 0 20px;
        justify-content: center;
        li{
            font-size: 36px;
            list-style: none;
         
            a{
                color: #21243D;
            }
        }
    }
}