.Works{
    margin: 0 auto;
    h2{
        font-size: 44px;
              font-family: 'Lobster', cursive;
                margin: 0 auto;
                text-transform: capitalize;
                letter-spacing: 3px;
    }
}